<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>

  <title>XMEME</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

    body {
      background:#76528bff;
    }

    h1 {
      text-align: center;
      font-family: "Cutive";
      padding: 40px;
      font-size: 100px;
      color: #e7e7de;

    }

    .card {
      transition: 0.3s;
      margin: 10px;
      width: 30%;
      flex-wrap: wrap;
      background: #1e212d;
      border-radius: 10px;
    }

    .card:hover {
      box-shadow: 20px 8px 16px 20px rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
      background: black;
    }



    h4 {
      font-family: "lobster";
      color: white;
      text-align: center;
    }

    h3 {
      font-family: "pacifico";
      color: white;
      font-size: 40px;
    }

    .outer_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    img {
      height: 60%;
    }

    input[type=checkbox]:checked~.remove-check {
      display: none;
    }

    input[type=checkbox]:checked~#up {
      display: block;
    }


    #up {
      display: none;
    }

    label {
      color: green;
      font-family: Consolas, Baskerville, 'Segoe UI', sans-serif;
      padding: 3px;
      background: white;
      text-align: center;
      width: 50%;
    }

    input[type=checkbox]:hover {
      box-shadow: 0px 0px 10px #1300ff;
    }
  </style>
</head>

<body>

  <h1>MEMES</h1>
  <div class="container">
    <h2 style="color:white;padding:8px;">Add Your Own Meme</h2>
    <form class="form-horizontal" action="/memes" method="POST">
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Enter your NAME" name="name">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Enter Image URL" name="url">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Enter your Caption" name="caption">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-danger btn-lg">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <h2 style="font-size: 80px; text-align: center;">Recent Memes</h2>
  <div class="outer_container">
    <% for(var i=memes.length-1;i>=0;i--){ %>

    <div class="card" style="width: 500px ;height:600px;">
      <h3 style="text-align: center;padding: 5px;background:#cbce91ff;margin:0; color:black" class="card-title">User :-> <%= memes[i].name %></h3>
      <img class="card-img-top" src="<%= memes[i].url %>" alt="Card image cap">
      <div class="card-body"style="background:#cbce91ff;">
        <h4 class="card-text" style="color:black"><%= memes[i].caption %> </h4>
    
      <input type="checkbox" style="width: 30px; height:30px;" id="checkbox">UPDATE THE INFO!</input>
      <div id="up">
        <form action="/memes/<%= memes[i]._id %>" method="POST">
          <input type="text" placeholder="Enter your New Image URL" name="url">
          <input type="text" placeholder="Enter your New Caption" name="caption">
          <button class="btn btn-danger" type="submit">Update</button>
        </form>
      </div>
    </div>
    </div>
    <% } %>
  </div>
</body>

</html>